@model UpdateContactDto
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa İletişim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <input type="hidden" asp-for="ContactId"/>
                        <div class="card-header">
                            <div class="card-title"> İletişim Yazı Güncellemesi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Location">Lokasyonu giriniz</label>
                                <input type="text" class="form-control" asp-for="Location" id="Location">
                            </div>
                            <div class="form-group">
                                <label for="Mail">Mail adresini giriniz</label>
                                <input type="email" class="form-control" asp-for="Mail" id="Mail">
                            </div>
                            <div class="form-group">
                                <label for="Phone">Telefon numarasını giriniz</label>
                                <input type="text" class="form-control" asp-for="Phone" id="Phone">
                            </div>
                            <div class="form-group">
                                <label for="FooterDescription">Açıklamasını giriniz</label>
                                <textarea rows="5" class="form-control" asp-for="FooterDescription" id="FooterDescription"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">İletişimi Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

